<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are Under Process</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="abnormal.png">
</head>
<body>
    <video autoplay loop muted id="video-bg">
        <source src="ab.mp4" type="video/mp4">
      
    </video>
    <div class="container">
        <h1>We Are Under Process</h1>
        <p>We are currently working on this page. Please check back later.</p>
    </div>
</body>
</html>
