<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Features </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="abnormal.png">
</head>
<body>
    <video autoplay loop muted id="video-bg">
        <source src="ab.mp4" type="video/mp4">
      
    </video>
    <header>
        <h2>Our Unique Features</h2>
    </header>
    
    <section class="features">
        
        <div class="feature">
            <h3>Integrated Drone-Tank Systems</h3>
            <p> Developing systems where drones and tanks work together seamlessly, allowing for reconnaissance, surveillance, and target acquisition capabilities. </p>
        </div>
        <div class="feature">
            <h3>Stealth and Camouflage Technologies</h3>
            <p> Integrating stealth features and advanced camouflage technologies into both drones and tanks to minimize their visibility and enhance survivability on the battlefield.</p>
        </div>
        <div class="feature">
            <h3>Remote Operation and Control</h3>
            <p> Developing remote operation and control systems that allow for the operation of both drones and tanks from a safe distance, reducing the risk to personnel in hostile environments.</p>
        </div>
    </section>
    <footer class="center">
        <p>&copy; 2024 Abnormal All rights reserved.</p>
    </footer>
    
    

    
</body>
</html>
