<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABNORMAL INDUSTRIES</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="abnormal.png">

</head>
<body>
    <video autoplay loop muted id="video-bg">
        <source src="ab.mp4" type="video/mp4">
      
    </video>
    <header>
        <h1>Abnormal Industries</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/features">Unique Features</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="sec">
        <h2>Pushing Boundaries, Defining Norms: Abnormal - Innovating Aerial and Ground Warfare.</h2>
       <b> <p>At Abnormal, we redefine the standards of innovation in aerospace and defense. Specializing in advanced drone and fighter tank technologies, we engineer solutions that push the boundaries of possibility. Trust Abnormal to equip you with unmatched prowess in aerial and ground warfare, setting new benchmarks for excellence and security."</p></b>
    </section>

    <div class="ccontainer">
        <div class="card">
            <img src="founder.jpg" alt="Image 1">
            <div class="card-content">
                <h3>Founder & CEO</h3>
                <p>ARYAN VERMA </p>
            </div>
        </div>
    
        <div class="card">
            <img src="cofounder.jpg" alt="Image 2">
            <div class="card-content">
                <h3>Co-Founder</h3>
                <p>HARSH VARDHAN SINGH</p>
            </div> 
        </div>
    
        <div class="card">
            <img src="cofounder1.jpg" alt="Image 3">
            <div class="card-content">
                <h3>Co-Founder</h3>
                <p>ANMOL VERMA</p>
            </div> 
        </div>
    </div>
</body>
</html>
