<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="abnormal.png">
</head>
<body>
    <video autoplay loop muted id="video-bg">
        <source src="ab.mp4" type="video/mp4">
      
    </video>
    <header>
        <h2>Our Services</h2>
    </header>
    
    <section class="services">
        <a class="service-link" href="/drones">
        <div class="service">
            <h3>Drones</h3>   
            <p>Customized Fighter drones</p>
        </div>
        </a>
        <a class="service-link" href="/tanks">
        <div class="service">
            <h3>Tanks</h3>
            <p>Fighter Tank Technologies</p>
        </div>
        </a>
        
    </section>
    <footer class="center">
        <p>&copy; 2024 Abnormal All rights reserved.</p>
    </footer>
    

   
</body>
</html>

