<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Cards</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="abnormal.png">
</head>
<body>
    <video autoplay loop muted id="video-bg">
        <source src="ab.mp4" type="video/mp4">
      
    </video>
    <div class="card-container">
    <div class="card">
        <img src="mark1-gradea.jpg" alt="Image 1">
        <div class="card-content">
            <h3>Mark 1 - Grade - A</h3>
            <p>Prototype 1</p>
        </div>
    </div>

    <div class="card">
        <img src="mark1-phase1.jpg" alt="Image 2">
        <div class="card-content">
            <h3>Mark - 1 Phase - 1</h3>
            <p>Prototype 2</p>
        </div> 
    </div>
    <div class="card">
        <img src="mark1-phase2.jpg" alt="Image 3">
        <div class="card-content">
            <h3>Mark - 1 Phase - 2</h3>
            <p>Prototype 3</p>
        </div> 
    </div>
    <div class="card">
        <img src="arbitrator-phase1.jpg" alt="Image 4">
        <div class="card-content">
            <h3>Arbitrator Phase - 1</h3>
            <p>Prototype 4</p>
        </div> 
    </div>
    <div class="card">
        <img src="arbitrator.jpg" alt="Image 5">
        <div class="card-content">
            <h3>Arbitrator</h3>
            <p>Prototype 5</p>
        </div> 
    </div>

</div>
</body>
</html>
